*, ::before, ::after {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Noto Sans JP", serif;   
}

body {
    background-color: rgb(165, 220, 241);
}

.result {
    margin: 0 auto;
    margin-top: 80px;
    max-width: 600px;
    height: 100px;
    text-align: center;
}

.result h2#ten {
    font-size: 35px;
}

.result span#two {
    font-size: 20px;
    line-height: 40px;
}

.control {
    margin: 0 auto;
    max-width: 600px;
    height: 100px;
    text-align: center;
    display: flex;
}


.control div {
    display: flex;
    margin: 0 auto;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 50px;
    background-color: white;
}

input {
    display: none;
}

.control div label {
    display: block;
    margin: 5px !important;
    width: 30px;
    border-radius: 30px;
    height: 30px;
    margin: 0;
    background: lightgrey;
}

.control div input[type="checkbox"]:checked + label {
    display: block;
    margin: 5px !important;
    width: 30px;
    border-radius: 30px;
    height: 30px;
    margin: 0;
    background: tomato !important;
}

.handsTop {
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    max-width: 600px;
    height: 150px;
    text-align: center;
    justify-content: space-between;
}

.handsTop div {
    display: flex;
    width: calc(50% - 50px);
    height: 150px;
    transition: 0.5s all;
}

.thumb {
    width: 50px !important;
    height: 150px !important;
    display: flex;
    background: rgb(255, 205, 113) !important;
    border-radius: 40px;
}

#hl9 {
    transform: translateY(150px) rotate(-40deg) translateX(40px);
    transform-origin: bottom;
    position: relative;
    left: 20px;
}

#hr0 {
    transform: translateY(150px) rotate(40deg) translateX(-40px);
    transform-origin: bottom;
    display: flex;
    position: relative;
    right: 20px;
}

.finger {
    height: 150px;
    width: calc(250px - 50px) !important;
    display: flex;
    overflow: hidden;
}

.right-h {
    justify-content: space-between;
}

.finger div {
    width: 40px;
    min-width: 45px;
    background: rgb(255, 205, 113) !important;
    border-radius: 40px;
    height: 170px;
    margin: 0 auto;
}

.handsBottom {
    margin: 0 auto;
    display: flex;
    max-width: 600px;
    height: 150px;
    text-align: center;
    justify-content: space-between;
}

.handsBottom div {
    display: flex;
    width: 150px;
    height: 180px;
    background: rgb(255, 205, 113);
    margin: 0 auto;
    border-bottom-right-radius: 80px;
    border-bottom-left-radius: 80px;
}

.rightHM {
    padding-right: 45px !important;
    border-bottom-right-radius: 60px !important;
}

.leftHM {
    padding-left: 45px !important;
    border-bottom-left-radius: 60px !important;
}

#hl8, #hr1 {
    position: relative;
    top: 15px;
}

#hl6, #hr3 {
    position: relative;
    top: 25px;
}

#hl5, #hr4 {
    position: relative;
    top: 50px;
}

.off {
    transform: translateY(+150px) !important;
}

#hl9.off.thumb {
    transform: translateY(150px) rotate(40deg) translateX(40px) !important;
    transform-origin: bottom;
    position: relative;
    left: 20px;
}

#hr0.off.thumb {
    transform: translateY(150px) rotate(-40deg) translateX(-40px) !important;
    transform-origin: bottom;
    position: relative;
    left: -20px;
}

.credit {
    width: 100%;
    text-align: center;
    margin-top: 100px;
}

button {
    width: 100px;
    border-radius: 90px;
    border: none;
    box-shadow: 0px 0px 15px rgb(74, 149, 179);
    text-align: center;
    font-weight: bolder;
    letter-spacing: 2px;
    padding: 10px;
}